# Copia este archivo a .env y rellena los valores
# NUNCA subas .env a GitHub

SECRET_KEY=pon-aqui-una-clave-larga-minimo-32-caracteres
FRONTEND_URL=https://tu-frontend.azurestaticapps.net

# Cadena de conexion Azure SQL
DATABASE_URL=mssql+pyodbc://sqladmin:TU_PASSWORD@srv-salud-ocupacional.database.windows.net/db-salud-ocupacional?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
